.header{
    text-align: center;
    width: 100%;
    background: #659EC7;
    color: white;
    margin: 0px;
    padding: 40px 0px;
}

.list{
	border-bottom: 1px solid grey;
	font-weight: bolder;
	width: 80%;
	margin: 10px auto;
}

.name{
	float: right;
	margin: 15px auto;
}

img {
  border-radius:50%;
}
